@font-face {
  font-family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url("https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import url("https://unpkg.com/nes.css/css/nes.css");
@import url("nes.css/css/nes.min.css");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.bigContainer {
  background-image: url(../images/main.gif);
  background-repeat: no-repeat center;
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
  object-fit: fill;
  height: 100vh;
  width: 100vw;
}

.textDiv {
  font-family: "DungGeunMo";
  font-weight: 300;
  font-size: large;
  color: white;
}

.henselAndGretel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 700;
  padding-bottom: 20px;
}

.coinImage {
  margin-bottom: 4px;
  margin-left: 2px;
  width: 25px;
  height: 20px;
}

.navBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.navItem {
  width: 100px;
  height: 50px;

  text-align: center;
  color: white;
  background: transparent;
  border: 0px;
}

.coin {
  margin: 10px;
  width: 70px;
  height: 70px;
}

.nes-balloon {
  color: black;
  margin-left: 20px;
  margin-right: 20px;
}

.nes-container {
  width: fit-content;
  height: fit-content;
}

.coinContainerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
}

.mal {
  font-family: "DungGeunMo";
  font-weight: 100;
  font-size: larger;
  color: white;
}

.heroBoxWrapper {
  padding-top: 50px;
  padding-left: 30%;
}

.fox {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.coinContainer {
  margin-bottom: 20px;
  font-family: "DungGeunMo";
  font-weight: 300;
  font-size: larger;
}

.predict {
  margin: 15px 0px 15px 0px;
}

.winner-div {
  font-family: "DungGeunMo";
  font-weight: 500;
  font-size: x-large;
  color: white;
  background-color: rgb(22,23,40);

  object-fit: fill;
  height: 100vh;
  width: 100vw;
}

.winnerContainerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.titleText {
  font-family: "DungGeunMo";
  font-weight: 300;
  color: white;
  font-size: 40px;
  font-weight: 700;
}

.winner-pfp {
  margin: 10px;
  width: 100px;
  height: 100px;
}

.title-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;
}

.pfp-info-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 30px;
}

.pfp-info {
  font-family: "DungGeunMo";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
}

.pfp-wallet-address {
  font-family: "Press Start 2P", cursive;
  font-size: medium;
}

.pfp-user {
  display: flex;
}

.klay-reward-text {
  font-family: "DungGeunMo";
  font-size: 25px;
  margin: 5px;
}

.history-div {
  font-family: "DungGeunMo";
  font-weight: 500;
  font-size: x-large;
  color: white;
  background-color: rgb(22,23,40);

  object-fit: fill;
  height: 100vh;
  width: 100vw;
}

.history-box-layout {
  font-family: "DungGeunMo";
  font-size: larger;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.week-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.history-ranking {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.history-coin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.history-coin-image {
  width: 70px;
  height: 70px;
  margin-bottom: 7px;
}

.order-texts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.order-text {
  margin-right: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

.winner-record-div {
  font-family: "DungGeunMo";
  font-weight: 500;
  font-size: x-large;
  color: white;
  background-color: rgb(22,23,40);

  object-fit: fill;
  height: 100vh;
  width: 100vw;
}

.space-between-page {
  background-color: rgb(22,23,40);
  height: 50vh;
  width: 100vw;
}

.winner-record-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.record-order-texts {
  display: flex;
  flex-direction: col;
  justify-content: center;
  align-items: center;
}

.winner-record-ranking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.each-winner-record {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.each-winner-info {
  margin-right: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

.cookie {
  width: 35px;
  height: 40px;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.real-time-ranking-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.progress-bars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress-bar {
  width: 300px;
  height: 32px;
  margin-right: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

.cookies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-div {
  font-family: "DungGeunMo";
  font-weight: 500;
  font-size: x-large;
  color: white;
  background-color: rgb(22,23,40);

  object-fit: fill;
  height: 100vh;
  width: 100vw;
}